<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('header.ejs') %>
</head>

<body class="g-sidenav-show  bg-gray-200">
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <!-- 전체 container 시작-->
    <div class="container-fluid px-2 px-md-4">

        <!-- 타이틀 시작 -->
        <div class="page-header min-height-300 border-radius-xl mt-3" style="background-image: url('img/title.jpg');">
            <span class="mask GOTHIC_M"
                  style="color: #ffffff; font-size: 48px; font-weight: 500; margin-top: 120px; padding-left: 30px">수위예측 3D 디스플레이 시스템</span>
        </div>
        <!-- 타이틀 끝 -->

        <!-- 전체 보드 시작 -->
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col">
                    <img src="/img/error.jpg" width="50%" style="margin-left: 200px">
                </div>
                <div class="col mt-5">
                    <h2 class="GULIM mb-3">죄송합니다. 현재 서비스가 중단되었습니다.</h2>
                    <h4 class="GULIM"><b style="color: red">00시부터 08시</b> 까지 데이터 수집기간이오니 <br>가급적 다른 시간대에 이용 부탁드립니다.</h4>
                </div>
            </div>
            <!-- 전체 보드 끝 -->
        </div>

    </div>

    <footer class="footer py-4  ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        ECOPEACE All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

<!--   Core JS Files   -->
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugins/perfect-scrollbar.min.js"></script>
<script src="js/plugins/smooth-scrollbar.min.js"></script>
<script src="js/plugins/chartjs.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="js/material-dashboard.min.js?v=3.0.2"></script>
</body>
</html>