<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
<link rel="icon" type="image/png" href="img/water-icon.png">
<title>수량예측 프로그램 - ecopeace</title>

<!--    Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="css/nucleo-icons.css" rel="stylesheet" />
<link href="css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->
<link id="pagestyle" href="css/material-dashboard.css?v=3.0.2" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<style>
    td {
        width: 100px;
        height: 30px;
        border: 1px black solid;
    }
    .progress{
        position: relative;
        /*left:50.5%;*/
        margin-bottom:20px;
        top:40%;
        width: 120px;
        height:500px;
        opacity: 0.8;
        filter: alpha(opacity=70);
    }
    .progress-bar{
        position:absolute;
        top:5%;
        bottom: 5%;
        width: 80%;
        height: 90%;
    }
    canvas{
        width: 100%;
        height: 100%
    }
</style>