<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('header.ejs') %>
</head>

<body class="g-sidenav-show  bg-gray-200">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark GOTHIC_M" id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/">
            <img src="img/observation-icon.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 text-white">평림댐 관측 프로그램</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">dashboard</i>
                    </div>
                    <span class="nav-link-text ms-1">메인</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/info">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">info</i>
                    </div>
                    <span class="nav-link-text ms-1">평림댐 정보</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/pred">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">opacity</i>
                    </div>
                    <span class="nav-link-text ms-1">평림댐 수위 / 수량예측</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/noFunction">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">assignment</i>
                    </div>
                    <span class="nav-link-text ms-1">평림댐 수질정보 / 예측</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/noFunction">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">adjust</i>
                    </div>
                    <span class="nav-link-text ms-1">ECO-SYSTEM 관리</span>
                </a>
            </li>
            <hr class="horizontal light mt-5 mb-2">
            <li class="nav-item">
                <a class="nav-link text-white " href="/noFunction">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">login</i>
                    </div>
                    <span class="nav-link-text ms-1">로그인</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="https://www.ecopeace.kr">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">backup_table</i>
                    </div>
                    <span class="nav-link-text ms-1">에코피스 홈페이지 이동</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <!-- 전체 container 시작-->
    <div class="container-fluid px-2 px-md-4">

        <!-- 타이틀 시작 -->
        <div class="page-header min-height-300 border-radius-xl mt-3" style="background-image: url('img/title.jpg');">
            <span class="mask GOTHIC_M"
                  style="color: #ffffff; font-size: 48px; font-weight: 500; margin-top: 120px; padding-left: 30px">수위예측 3D 디스플레이 시스템</span>
            <span class="mask GOTHIC_M" style="color: #000000; font-size: 28px; margin-top: 180px; padding-left: 30px"></span>
        </div>
        <!-- 타이틀 끝 -->

        <!-- 전체 보드 시작 -->
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2" style="height: 1500px">

            </div>
        </div>
        <!-- 전체 보드 끝 -->

    </div>

    <footer class="footer py-4  ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        ECOPEACE All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

<!--   Core JS Files   -->
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugins/perfect-scrollbar.min.js"></script>
<script src="js/plugins/smooth-scrollbar.min.js"></script>
<script src="js/plugins/chartjs.min.js"></script>

<!-- control script-->
<script>
    const win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        const options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

<!-- notification script -->
<script>
    $(document).ready(function (){
        alert('현재 개발중입니다.');
        window.location.href = '/';
    })
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="js/material-dashboard.min.js?v=3.0.2"></script>
</body>
</html>