<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<!-- 테이블 크기 조절-->
<table class="worksTable thBold" style="height: 700px; width: 500px;">
  <colgroup>
    <col>
    <col class="tbl-col-22" span="4">
  </colgroup>
  <thead>
  <tr>
    <th>구분</th>
    <td colspan="4">댐 / 평림천 / E.C.R.D</td>
  </tr>
  <tr>
    <th rowspan="2">제원</th>
    <th>높이 (m)</th>
    <th>길이 (m)</th>
    <th>정상표고<br>(EL.m)</th>
    <th>체적 (천m<sup>3</sup>)</th>
  </tr>
  <tr>
    <td>      37.3</td>
    <td>     390.5</td>
    <td>     116.0</td>
    <td>     892.8</td>
  </tr>
  <tr>
    <th rowspan="2">유역</th>
    <th colspan="2">유역면적 (km<sup>2</sup>)</th>
    <th colspan="2">연간용수공급용량 (백만m<sup>3</sup>)</th>
  </tr>
  <tr>
    <td colspan="2">      19.9</td>
    <td colspan="2">      11.8</td>
  </tr>
  <tr>
    <th rowspan="10">저수지</th>
    <th colspan="2">저수면적 (km<sup>2</sup>)</th>
    <th colspan="2">계획홍수위 (EL.m)</th>
  </tr>
  <tr>
    <td colspan="2">       0.9</td>
    <td colspan="2">     111.30</td>
  </tr>
  <tr>
    <th colspan="2">상시만수위 (EL.m)</th>
    <th colspan="2">홍수기제한수위 (EL.m)</th>
  </tr>
  <tr>
    <td colspan="2">     109.70</td>
    <td colspan="2">     109.70</td>
  </tr>
  <tr>
    <th colspan="2">월류정표고 (EL.m)</th>
    <th colspan="2">저수위 (EL.m)</th>
  </tr>
  <tr>
    <td colspan="2">     109.70</td>
    <td colspan="2">      91.60</td>
  </tr>
  <tr>
    <th colspan="2">총 저수용량 (백만m<sup>3</sup>)</th>
    <th colspan="2">유효 저수량 (백만m<sup>3</sup>)</th>
  </tr>
  <tr>
    <td colspan="2">      10.3</td>
    <td colspan="2">       8.1</td>
  </tr>
  <tr>
    <th colspan="2">홍수 조절용량 (백만m<sup>3</sup>)</th>
    <th colspan="2">사업기간</th>
  </tr>
  <tr>
    <td colspan="2">       0.0</td>
    <td colspan="2"> ~ </td>
  </tr>
  </thead>
</table>
출처: 수자원 공사 K-water
</div>

</body>
</html>